<div class="container-fluid">
  <div class="row">
    <!-- TODO: Make the left cols here bigger on smaller screens, col-2 works on large ones. -->
    <div class="col-2 g-0">
      <div
        style="height: 40vh; border-left: 3px solid dimgray; border-top: 3px solid dimgray; border-bottom: 3px solid dimgray;">
        <div style="height: 100%;">
          <div style="background: darkseagreen; height: 100%;">
            Card title
          </div>
        </div>
      </div>
      <div style="height: 15vh; background: beige; border-left: 3px solid dimgray; border-bottom: 3px solid dimgray;">
        <div *ngIf="gameState.gameMessageType === 'SINGLE_QUESTION'">
          {{gameState.gameMessage}}<br>
          <button
            (click)="sendQuestionResponse(gameState.gameMessageQuestionButtonOneId)">
            {{gameState.gameMessageQuestionButtonOneText}}</button>
        </div>
        <div *ngIf="gameState.gameMessageType === 'DUAL_QUESTION'">
          {{gameState.gameMessage}}<br>
          <button
            (click)="sendQuestionResponse(gameState.gameMessageQuestionButtonOneId)">
            {{gameState.gameMessageQuestionButtonOneText}}</button>
          /
          <button (click)="sendQuestionResponse(gameState.gameMessageQuestionButtonTwoId)">
            {{gameState.gameMessageQuestionButtonTwoText}}</button>
        </div>
        <div *ngIf="gameState.gameMessageType === 'MESSAGE'" [textContent]="gameState.gameMessage"></div>
      </div>
      <div style="height: 45vh; border-left: 3px solid dimgray; border-bottom: 3px solid dimgray;">
        <div *ngFor="let stackEntry of gameState.stack.stackEntries" class="card" style="display: inline-block;">
          <div [textContent]="stackEntry.name" class="card-head"></div>
          <div class="card-body p-2">
            <img [src]="gameState.staticAssetLocation + '/' + stackEntry.set + '/' + stackEntry.setId + '.jpg'"
                 class="battlefield-card-image"/>
            <p class="card-text">body...</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row" style="height: 40vh; background: beige; border: 3px solid dimgray;">
        <div class="col-1 g-0" style="border-right: 3px solid dimgray;">
          <img src="https://placehold.co/160x160" alt="Opponent avatar" class="img-fluid">

          <div *ngIf="gameState.game.players.length == 1" class="fw-bold text-center mb-5">???</div>
          <div *ngIf="gameState.game.players.length > 1" [textContent]="gameState.game.getOpponent().name"
               class="fw-bold text-center"></div>
          <div *ngIf="gameState.game.players.length > 1">
            <div class="player-life-container">
              <div [textContent]="gameState.game.getOpponent().life" class="fw-bold text-center player-life"></div>
            </div>

            <div class="fw-bold ms-1">
              <img src="assets/icons/hand.svg" style="width: 24px;"> {{gameState.game.getOpponent().handSize}}</div>
            <div class="fw-bold pt-2 ms-1">
              <img src="assets/icons/deck.svg" style="width: 24px;"> {{gameState.game.getOpponent().deckSize}}</div>

            <div class="text-center pt-2">
              <table class="w-100">
                <tr>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/w.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getOpponent().manaPool.whiteMana" class="p-0"></td>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/u.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getOpponent().manaPool.blueMana" class="p-0"></td>
                </tr>
                <tr>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/b.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getOpponent().manaPool.blackMana" class="p-0"></td>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/r.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getOpponent().manaPool.redMana" class="p-0"></td>
                </tr>
                <tr>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/g.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getOpponent().manaPool.greenMana" class="p-0"></td>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/x.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getOpponent().manaPool.colorlessMana" class="p-0"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-11 g-0 battlefield-area">
          <div *ngIf="gameState.game.players.length > 1">
            <div *ngFor="let card of gameState.game.getOpponent().battlefield" class="card"
                 [class.tapped-card]="card.tapped" style="display: inline-block;"
                 (click)="handleCardClick(card)">
              <div [class.text-warning]="card.highlighted" class="card-head">
                <span *ngIf="card.attacking" class="text-danger">(Atk)</span> {{card.name}}
              </div>
              <div class="card-body p-2">
                <img [src]="gameState.staticAssetLocation + '/' + card.set + '/' + card.setId + '.jpg'"
                     class="battlefield-card-image"/>
                <p class="card-text">body...</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row step-container">
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'UNTAP'">Untap</div>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'UPKEEP'">Upkeep</div>

          <button class="stop-at-opponent" [class]="{'step-disabled': !gameState.stopAtStepInOpponentTurn.UPKEEP,
                   'stop-enabled': gameState.stopAtStepInOpponentTurn.UPKEEP}"
                  (click)="changeStopOnOpponentsTurn('UPKEEP')"></button>
          <button class="stop-at-mine" [class]="{'step-disabled': !gameState.stopAtStepInMyTurn.UPKEEP,
                   'stop-enabled': gameState.stopAtStepInMyTurn.UPKEEP}"
                  (click)="changeStopOnMyTurn('UPKEEP')"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'DRAW'">Draw</div>

          <button class="stop-at-opponent" [class]="{'step-disabled': !gameState.stopAtStepInOpponentTurn.DRAW,
                   'stop-enabled': gameState.stopAtStepInOpponentTurn.DRAW}"
                  (click)="changeStopOnOpponentsTurn('DRAW')"></button>
          <button class="stop-at-mine" [class]="{'step-disabled': !gameState.stopAtStepInMyTurn.DRAW,
                   'stop-enabled': gameState.stopAtStepInMyTurn.DRAW}"
                  (click)="changeStopOnMyTurn('DRAW')"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'PRECOMBAT_MAIN'">Main</div>

          <button class="stop-at-opponent" [class]="{'step-disabled': !gameState.stopAtStepInOpponentTurn.PRECOMBAT_MAIN,
                   'stop-enabled': gameState.stopAtStepInOpponentTurn.PRECOMBAT_MAIN}"
                  (click)="changeStopOnOpponentsTurn('PRECOMBAT_MAIN')"></button>
          <button class="stop-at-mine" [class]="{'step-disabled': !gameState.stopAtStepInMyTurn.PRECOMBAT_MAIN,
                   'stop-enabled': gameState.stopAtStepInMyTurn.PRECOMBAT_MAIN}"
                  (click)="changeStopOnMyTurn('PRECOMBAT_MAIN')"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" style="text-wrap: nowrap;" [class.fw-bold]="gameState.activeStep == 'BEGIN_COMBAT'">
            Bgn cmbt
          </div>

          <button class="stop-at-opponent" [class]="{'step-disabled': !gameState.stopAtStepInOpponentTurn.BEGIN_COMBAT,
                   'stop-enabled': gameState.stopAtStepInOpponentTurn.BEGIN_COMBAT}"
                  (click)="changeStopOnOpponentsTurn('BEGIN_COMBAT')"></button>
          <button class="stop-at-mine" [class]="{'step-disabled': !gameState.stopAtStepInMyTurn.BEGIN_COMBAT,
                   'stop-enabled': gameState.stopAtStepInMyTurn.BEGIN_COMBAT}"
                  (click)="changeStopOnMyTurn('BEGIN_COMBAT')"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'ATTACK'">Attack</div>

          <button class="stop-at-opponent" [class]="{'step-disabled': !gameState.stopAtStepInOpponentTurn.ATTACK,
                   'stop-enabled': gameState.stopAtStepInOpponentTurn.ATTACK}"
                  (click)="changeStopOnOpponentsTurn('ATTACK')"></button>
          <button class="stop-at-mine" [class]="{'step-disabled': !gameState.stopAtStepInMyTurn.ATTACK,
                   'stop-enabled': gameState.stopAtStepInMyTurn.ATTACK}"
                  (click)="changeStopOnMyTurn('ATTACK')"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'BLOCK'">Block</div>

          <button class="stop-at-opponent" [class]="{'step-disabled': !gameState.stopAtStepInOpponentTurn.BLOCK,
                   'stop-enabled': gameState.stopAtStepInOpponentTurn.BLOCK}"
                  (click)="changeStopOnOpponentsTurn('BLOCK')"></button>
          <button class="stop-at-mine" [class]="{'step-disabled': !gameState.stopAtStepInMyTurn.BLOCK,
                   'stop-enabled': gameState.stopAtStepInMyTurn.BLOCK}"
                  (click)="changeStopOnMyTurn('BLOCK')"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'DAMAGE'">Damage</div>

          <button class="stop-at-opponent" [class]="{'step-disabled': !gameState.stopAtStepInOpponentTurn.DAMAGE,
                   'stop-enabled': gameState.stopAtStepInOpponentTurn.DAMAGE}"
                  (click)="changeStopOnOpponentsTurn('DAMAGE')"></button>
          <button class="stop-at-mine" [class]="{'step-disabled': !gameState.stopAtStepInMyTurn.DAMAGE,
                   'stop-enabled': gameState.stopAtStepInMyTurn.DAMAGE}"
                  (click)="changeStopOnMyTurn('DAMAGE')"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" style="text-wrap: nowrap;" [class.fw-bold]="gameState.activeStep == 'END_COMBAT'">End
            cmbt
          </div>

          <button class="stop-at-opponent" [class]="{'step-disabled': !gameState.stopAtStepInOpponentTurn.END_COMBAT,
                   'stop-enabled': gameState.stopAtStepInOpponentTurn.END_COMBAT}"
                  (click)="changeStopOnOpponentsTurn('END_COMBAT')"></button>
          <button class="stop-at-mine" [class]="{'step-disabled': !gameState.stopAtStepInMyTurn.END_COMBAT,
                   'stop-enabled': gameState.stopAtStepInMyTurn.END_COMBAT}"
                  (click)="changeStopOnMyTurn('END_COMBAT')"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'POSTCOMBAT_MAIN'">Main</div>

          <button class="stop-at-opponent" [class]="{'step-disabled': !gameState.stopAtStepInOpponentTurn.POSTCOMBAT_MAIN,
                   'stop-enabled': gameState.stopAtStepInOpponentTurn.POSTCOMBAT_MAIN}"
                  (click)="changeStopOnOpponentsTurn('POSTCOMBAT_MAIN')"></button>
          <button class="stop-at-mine" [class]="{'step-disabled': !gameState.stopAtStepInMyTurn.POSTCOMBAT_MAIN,
                   'stop-enabled': gameState.stopAtStepInMyTurn.POSTCOMBAT_MAIN}"
                  (click)="changeStopOnMyTurn('POSTCOMBAT_MAIN')"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'END'">End</div>

          <button class="stop-at-opponent" [class]="{'step-disabled': !gameState.stopAtStepInOpponentTurn.END,
                   'stop-enabled': gameState.stopAtStepInOpponentTurn.END}"
                  (click)="changeStopOnOpponentsTurn('END')"></button>
          <button class="stop-at-mine" [class]="{'step-disabled': !gameState.stopAtStepInMyTurn.END,
                   'stop-enabled': gameState.stopAtStepInMyTurn.END}"
                  (click)="changeStopOnMyTurn('END')"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'CLEANUP'">Cleanup</div>

          <button class="stop-at-opponent" [class]="{'step-disabled': !gameState.stopAtStepInOpponentTurn.CLEANUP,
                   'stop-enabled': gameState.stopAtStepInOpponentTurn.CLEANUP}"
                  (click)="changeStopOnOpponentsTurn('CLEANUP')"></button>
          <button class="stop-at-mine" [class]="{'step-disabled': !gameState.stopAtStepInMyTurn.CLEANUP,
                   'stop-enabled': gameState.stopAtStepInMyTurn.CLEANUP}"
                  (click)="changeStopOnMyTurn('CLEANUP')"></button>
        </div>
      </div>

      <div class="row" style="height: 40vh; background: beige; border: 3px solid dimgray;">
        <div class="col-1 g-0" style="border-right: 3px solid dimgray;">
          <img src="https://placehold.co/160x160" alt="Your avatar" class="img-fluid">

          <div class="fw-bold text-center" [textContent]="gameState.game.getMyPlayer().name"></div>
          <div>
            <div class="player-life-container">
              <div class="fw-bold text-center player-life" [textContent]="gameState.game.getMyPlayer().life"></div>
            </div>
            <div class="fw-bold ms-1">
              <img src="assets/icons/hand.svg" style="width: 24px;"> {{gameState.game.getMyPlayer().handSize}}</div>
            <div class="fw-bold pt-2 ms-1">
              <img src="assets/icons/deck.svg" style="width: 24px;"> {{gameState.game.getMyPlayer().deckSize}}</div>

            <div class="text-center pt-2">
              <table class="w-100">
                <tr>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/w.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getMyPlayer().manaPool.whiteMana" class="p-0"></td>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/u.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getMyPlayer().manaPool.blueMana" class="p-0"></td>
                </tr>
                <tr>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/b.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getMyPlayer().manaPool.blackMana" class="p-0"></td>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/r.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getMyPlayer().manaPool.redMana" class="p-0"></td>
                </tr>
                <tr>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/g.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getMyPlayer().manaPool.greenMana" class="p-0"></td>
                  <td><img src="http://eakett.ca/mtgimage/symbol/mana/x.svg" class="symbol p-0"></td>
                  <td [textContent]="gameState.game.getMyPlayer().manaPool.colorlessMana" class="p-0"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <!--My player BATTLEFIELD -->
        <div class="col-11 g-0 battlefield-area">
          <div *ngFor="let card of gameState.game.getMyPlayer().battlefield" class="card"
               [class.tapped-card]="card.tapped" style="display: inline-block;"
               (click)="handleCardClick(card)">
            <div [class.text-warning]="card.highlighted" class="card-head">
              <span *ngIf="card.attacking" class="text-danger">(Atk)</span> {{card.name}}
            </div>
            <div class="card-body p-2">
              <img [src]="gameState.staticAssetLocation + '/' + card.set + '/' + card.setId + '.jpg'"
                   class="battlefield-card-image"/>
              <p class="card-text">body...</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row player-hand">
        <!--My player HAND -->
        <div class="col">
          <div *ngFor="let card of gameState.game.getMyPlayer().hand" class="card" style="display: inline-block;"
               (click)="castCard(card)">
            <div [textContent]="card.name" [class.text-warning]="card.highlighted" class="card-head"></div>
            <div class="card-body p-2">
              <img [src]="gameState.staticAssetLocation + '/' + card.set + '/' + card.setId + '.jpg'"
                   class="battlefield-card-image"/>
              <p class="card-text">body...</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 g-0">
      <div class="log-container">
        <div *ngFor="let log of gameState.logs" [textContent]="log"></div>
      </div>
      <div class="chat-container">
        <textarea class="form-control"></textarea>
        <button class="btn btn-sm btn-secondary w-100">Send</button>
      </div>
    </div>
  </div>
</div>
