<div class="row" style="height: 47vh; background: beige; border: 3px solid dimgray;">
  <div class="col">
    <!-- TODO: the opponent should come here all the time! -->
    <span *ngIf="gameState.game.players.length == 1" class="fw-bold">???</span>
    <span *ngIf="gameState.game.players.length > 1" [textContent]="gameState.game.players[1].name"
          class="fw-bold"></span>
  </div>
</div>

<div class="row" style="height: 6vh;">
  <div class="col">
    State goes here...
  </div>
</div>

<div class="row" style="height: 47vh; background: beige; border: 3px solid dimgray;">
  <div class="col">
    <span class="fw-bold">{{gameState.game.players[0].name}}</span>
  </div>
</div>
