<div class="container-fluid">
  <div class="row">
    <!-- TODO: Make the left cols here bigger on smaller screens, col-2 works on large ones. -->
    <div class="col-2 g-0">
      <div
        style="height: 40vh; border-left: 3px solid dimgray; border-top: 3px solid dimgray; border-bottom: 3px solid dimgray;">
        <div style="height: 100%;">
          <div style="background: darkseagreen; height: 100%;">
            Card title
          </div>
        </div>
      </div>
      <div style="height: 15vh; background: beige; border-left: 3px solid dimgray; border-bottom: 3px solid dimgray;">
        <div *ngIf="gameState.gameMessageType === 'SINGLE_QUESTION'">
          {{gameState.gameMessage}}<br>
          <button
            (click)="sendQuestionResponse(gameState.gameMessageQuestionButtonOneId)">
            {{gameState.gameMessageQuestionButtonOneText}}</button>
        </div>
        <div *ngIf="gameState.gameMessageType === 'DUAL_QUESTION'">
          {{gameState.gameMessage}}<br>
          <button
            (click)="sendQuestionResponse(gameState.gameMessageQuestionButtonOneId)">
            {{gameState.gameMessageQuestionButtonOneText}}</button>
          /
          <button (click)="sendQuestionResponse(gameState.gameMessageQuestionButtonTwoId)">
            {{gameState.gameMessageQuestionButtonTwoText}}</button>
        </div>
        <div *ngIf="gameState.gameMessageType === 'MESSAGE'" [textContent]="gameState.gameMessage"></div>
      </div>
      <div style="height: 45vh; border-left: 3px solid dimgray; border-bottom: 3px solid dimgray;">
        stack
      </div>
    </div>
    <div class="col-8">
      <div class="row" style="height: 40vh; background: beige; border: 3px solid dimgray;">
        <div class="col-1 g-0" style="border-right: 3px solid dimgray;">
          <img src="https://placehold.co/160x160" alt="Opponent avatar" class="img-fluid">

          <div *ngIf="gameState.game.players.length == 1" class="fw-bold text-center mb-5">???</div>
          <div *ngIf="gameState.game.players.length > 1" [textContent]="gameState.game.getOpponent().name"
               class="fw-bold text-center"></div>
          <div *ngIf="gameState.game.players.length > 1">
            <div class="player-life-container">
              <div [textContent]="gameState.game.getOpponent().life" class="fw-bold text-center player-life"></div>
            </div>
            <div class="fw-bold text-center pt-5">{{gameState.game.getOpponent().deckSize}} cards in deck</div>
            <div class="fw-bold text-center">{{gameState.game.getOpponent().handSize}} cards in hand</div>
          </div>
        </div>
        <div class="col-11 g-0">
          <div *ngIf="gameState.game.players.length > 1">
            <div *ngFor="let card of gameState.game.getOpponent().battlefield" class="card"
                 style="display: inline-block;">
              <div [textContent]="card.name" [class.text-warning]="card.highlighted" class="card-head"></div>
              <div class="card-body">body...</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row step-container">
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'UNTAP'">Untap</div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'UPKEEP'">Upkeep</div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'DRAW'">Draw</div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'PRECOMBAT_MAIN'">Main</div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" style="text-wrap: nowrap;" [class.fw-bold]="gameState.activeStep == 'BEGIN_COMBAT'">
            Bgn cmbt
          </div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'ATTACK'">Attack</div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'BLOCK'">Block</div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'DAMAGE'">Damage</div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" style="text-wrap: nowrap;" [class.fw-bold]="gameState.activeStep == 'END_COMBAT'">End
            cmbt
          </div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'POSTCOMBAT_MAIN'">Main</div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'END'">End</div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
        <div class="col g-0">
          <div class="text-center" [class.fw-bold]="gameState.activeStep == 'CLEANUP'">Cleanup</div>

          <button class="stop-at-opponent"></button>
          <button class="stop-at-mine"></button>
        </div>
      </div>

      <div class="row" style="height: 40vh; background: beige; border: 3px solid dimgray;">
        <div class="col-1 g-0" style="border-right: 3px solid dimgray;">
          <img src="https://placehold.co/160x160" alt="Your avatar" class="img-fluid">

          <div class="fw-bold text-center" [textContent]="gameState.game.getMyPlayer().name"></div>
          <div>
            <div class="player-life-container">
              <div class="fw-bold text-center player-life" [textContent]="gameState.game.getMyPlayer().life"></div>
            </div>
            <div class="fw-bold text-center pt-5">{{gameState.game.getMyPlayer().deckSize}} cards in deck</div>
            <div class="fw-bold text-center">{{gameState.game.getMyPlayer().handSize}} cards in hand</div>
          </div>
        </div>
        <div class="col-11 g-0">
          <div *ngFor="let card of gameState.game.getMyPlayer().battlefield" class="card"
               style="display: inline-block;">
            <div [textContent]="card.name" [class.text-warning]="card.highlighted" class="card-head"></div>
            <div class="card-body">body...</div>
          </div>
        </div>
      </div>

      <div class="row player-hand">
        <div class="col">
          <div *ngFor="let card of gameState.game.getMyPlayer().hand" class="card" style="display: inline-block;"
               (click)="castCard(card)">
            <div [textContent]="card.name" [class.text-warning]="card.highlighted" class="card-head"></div>
            <div class="card-body">body...</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 g-0">
      <div class="log-container">
        <div *ngFor="let log of gameState.logs" [textContent]="log"></div>
      </div>
      <div class="chat-container">
        <textarea class="form-control"></textarea>
        <button class="btn btn-sm btn-secondary w-100">Send</button>
      </div>
    </div>
  </div>
</div>
