.stop-at-opponent {
  position: relative;
  left: 50%;
  top: -40px;
  width: 10px;
  height: 12px;
  transform: translateX(-50%);
}

.stop-at-mine {
  position: relative;
  top: -10px;
  width: 10px;
  height: 12px;
  transform: translateX(-150%);
  left: 50%;
}
